@font-face {
  font-family: Aribau-light;
  src: url(./assets/Emtype\ Foundry\ -\ Aribau\ Grotesk\ Light.otf);
}
@font-face {
  font-family: Aribau-medium;
  src: url(./assets/Emtype\ Foundry\ -\ Aribau\ Grotesk\ Medium.otf);
}

* {
  font-family: Aribau-light;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #5D6B48;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 10rem;
  margin-left: -55px;
}

.logo-div a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: Aribau-medium;
}

.icons i {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
}

h1 {
  color: #3B3C34;
  font-size: 60px;
  font-family: Aribau-medium;
  margin: 2rem 0;
}

h2, p {
  margin-bottom: 0;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5rem 0 3rem 0;
}

.hero a {
  background-color: #42323D;
  color: white;
  padding: 1rem 3rem;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 45%;
}

.hero a:hover, footer input[type=submit]:hover  {
  background-color: #584452;
  font-family: Aribau-medium;
}

.hero > img {
  max-width: 90%;
}

main, .main {
  margin-bottom: 5rem;
  width: 90%;
}

.text-box {
  margin-bottom: 5rem;
  max-width: 600px;
}

main > div > p, .main > div > p {
  margin-top: 0.5rem;
}

a:visited {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
}

.grid img {
  max-width: 250px;
}

.grid h3 {
  color: black;
  padding: 1rem 0 0 0;
}

#slideshow { 
  margin: 3rem 0;
  position: relative; 
  width: 100%; 
  height: 700px; 
  /* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
}

#slideshow img {
  width: 100%;
  height: 700px;
  position: absolute; 
}

footer {
  background-color: #23241D;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

footer div {
  padding: 4rem;
}

footer h2 {
  padding: 1rem 0;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer input[type=email] {
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
}

footer input[type=submit] {
  background-color: #42323D;
  color: white;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
